<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Koncerty</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {% assign sorted_posts = site.posts | sort: 'date' %}
                    {% for post in sorted_posts %}
                    {% assign mod_result = forloop.index | modulo: 2 %}
                    {% if mod_result == 0 %}
                    <li class="timeline-inverted">
                        {% else %}
                    <li>
                        {% endif %}
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ post.date | date: "%d.%m.%Y" }}</h4>
                                <h4 class="subheading">{{ post.title }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ post.subtitle }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>