<section id="audio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Poslechěnte si nás</h2>
            </div>
        </div>
        <div class="row">
            {% for track in site.tracks %}
            <div class="col-md-4">
                <h4 class="song-title">{{ track.title }}</h4>
                <audio controls preload="metadata">
                    <source src="{{ track.file | prepend: site.baseurl }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </div>
            {% endfor %}
        </div>
</section>