<section id="concerts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Koncerty</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {% assign sorted_concerts = site.concerts | sort: 'date' %}
                    {% assign filtered_concerts = sorted_concerts | upcoming_concerts %}
                    {% for concert in filtered_concerts %}
                        {% assign mod_result = forloop.index | modulo: 2 %}
                        {% if mod_result == 0 %}
                        <li class="timeline-inverted">
                        {% else %}
                        <li>
                        {% endif %}
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <div class="concert-details">
                                        <p class="concert-date">
                                            {{ concert.date | date: "%d.%m.%Y" }}
                                            {% if concert.time and concert.time != "" %}
                                            | {{ concert.time }}
                                            {% endif %}
                                        </p>
                                        <p class="concert-title">{{ concert.title }}</p>
                                    </div>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ concert.venue }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>        
    </div>
</section>